# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

#feature
Environment/project*
Environment/make*
Environment/std*
Environment/checker
Environment/atcoder-workspace/*
Environment/spoj-tools/*
!Environment/spoj-tools/*.py
credentials.*
Program*
spoj-submitter.dat
__pycache__/*
Environment/*.png
*.ttf
*.otf
Environment/Contest